body {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  z-index: 10001;
}


.navbar {
  padding: 0.625rem 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0.625rem;
}

nav ul li a {
  color: #000;
}

nav ul li a:hover {
  color: #495E57;
  transition: all 0.3s ease-in-out;

}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: #000;
  margin: 0.3125rem 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}


/* Header Section */

.header {
  background-color: #495E57;
  padding: 2.5rem 0;
}

.header section {
  color: #EDEFEE;
  padding: 0.625rem 13%;
  position: relative;
}


h2 {
  color: #F4CE14;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5625rem;
}

.banner p {
  font-size: 1.25rem;
  max-width: 32.5rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
}

button {
  background-color: #F4CE14;
  color: #000;
  padding: 0.875rem 1.125rem;
  border: none;
  text-decoration: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.banner-img {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 25rem;
}

.banner-img img {
  width: 100%;
  height: 25rem;
  border-radius: 1.25rem;
}


form,
.confirm {
  padding: 0.625rem 13%;
}

.formField {
  padding: 3.125rem 1.25rem;
}

input,
label {
  display: inline-block;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

#book-date,
#book-time,
#book-guests,
#book-occasion {
  background: #d8d3d343;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.125rem;
}

.btnReceive input {
  padding: 0.75rem 1rem;
  margin-top: 1.25rem;
  background: #495e57;
  color: #fff;
  border: none;
  border-radius: 0.25rem;

}

.confirm span {
  color: blue;
}


/* Menu Items */

.menu-container {
  margin: 6.875rem auto;
  padding: 0.625rem 13%;
}

.menu-container h2 {
  color: #000;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  margin-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items {
  /* height: 25rem; */
  width: 21.875rem;
  background: #808583e3;
  border-radius: 0.5rem;
}

.menu-container img {
  width: 100%;
  height: 14.5625rem;
  border-radius: 0.5rem;
}

.menu-content {
  padding: 0.3125rem 0.9375rem;
}


.menu-content .heading {
  display: flex;
  justify-content: space-between;
}

.orderBtn {
  padding: 0.3125rem 0.75rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
}

/* Footer Section */
footer section {
  padding: 0.625rem 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #1f1e1e;
}

.company-info img {
  margin-top: 0.75rem;
  cursor: pointer;
  width: 12.5rem;
}

.company-info p {
  width: 20rem;
}

footer h3 {
  font-size: 1.125rem;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 0.5rem 0;
}


/* Media Queries */

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 1.25rem 0;
  }

  .navbar {
    background: #fff;
    padding: 0.625rem 8%;
  }

  nav ul li a {
    color: #fff;
  }

  .bar {
    background: #333333;
  }

  .banner-img {
    display: none;
  }

  form,
  .confirm {
    padding: 0.625rem 8%;
  }


  .header section,
  .menu-container {
    padding: 0.625rem 8%;
  }

  .menu-container {
    margin: 1.25rem 0;
  }

  .menu-header {
    justify-content: flex-start;
  }

  .menu-items {
    width: 100%;
  }

  footer section {
    padding: 0.625rem 8%;
    flex-direction: column;
  }

  .company-info p {
    width: 100%;
  }
}

.hidden {
  display: none;
}